<a href="https://colab.research.google.com/github/Ambuj-Tiwari/ml-45-day-diary/blob/main/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DATE : 27.6.2025**

# TOPIC : LIST

In Python, a list is a built-in dynamic sized array (automatically grows and shrinks). We can store all types of items (including another list) in a list. A list may contain mixed type of items, this is possible because a list mainly stores references at contiguous locations and actual items maybe stored at different locations.

* List can contain duplicate items.
* List in Python are Mutable. Hence, we can modify, replace or delete the items.
* List are ordered. It maintain the order of elements based on how they are added.
* Accessing items in List can be done directly using their position (index), starting from 0.

In [1]:
list=[1,2,3,4,5]
# indexing[0,1,2,3,4] n-1

In [2]:
a=[]
print(a)

[]

In [3]:
file1=[1,2,3,8,'Aman']
print(file1)

[1, 2, 3, 8, 'Aman']

# **Creating a List**
Here are some common methods to create a list:

**Using Square Brackets**



    a = [1, 2, 3, 4, 5]
    b = ['apple', 'banana', 'cherry']
    c = [1, 'hello', 3.14, True]   
    print(a)
    print(b)
    print(c)

    Output
    [1, 2, 3, 4, 5]
    ['apple', 'banana', 'cherry']
    [1, 'hello', 3.14, True]
**Using list() Constructor**

We can also create a list by passing an iterable (like a string, tuple or another list) to list() function.

    a = list((1, 2, 3, 'apple', 4.5))  
    print(a)

    Output
    [1, 2, 3, 'apple', 4.5]


**Creating List with Repeated Elements**

We can create a list with repeated elements using the multiplication operator.

         a = [2] * 5
         b = [0] * 7
         print(a)
         print(b)

         
         Output
        [2, 2, 2, 2, 2]
        [0, 0, 0, 0, 0, 0, 0]

# **Accessing List Elements**
Elements in a list can be accessed using indexing. Python indexes start at 0, so a[0] will access the first element, while negative indexing allows us to access elements from the end of the list. Like index -1 represents the last elements of list.

In [4]:
file1[4]
file1[2]

3

If we want both value we will write like these

In [5]:
print(file1[4])
print(file1[2])

Aman
3

In [6]:
file1='Aman'
print(file1)

Aman

In [7]:
FRUITS=["apple","Mango","cherry","banana","litchi"]
print(len(FRUITS))

5

In [8]:
FRUITS.append("app")
print(FRUITS)

['apple', 'Mango', 'cherry', 'banana', 'litchi', 'app']

In [9]:
#clear method
UNI=["CTU","AUY"]
UNI.clear
print(UNI)

['CTU', 'AUY']

In [10]:
#COPY METHOD
#count method
#syntax method
#print(FRUITS.copy())
FRUITS.count("apple")

1

In [11]:
#extend method
UNI=["CTU","KTU","DTU","CTU"]
UNI2=["CU","PU"]
UNI2.extend(UNI)
print(UNI2)

['CU', 'PU', 'CTU', 'KTU', 'DTU', 'CTU']

In [12]:
#INDEX METHOD
UNI2.index("KTU")

3

In [13]:
#INSERT METHOD
#syntax
UNI2.insert(1,"ptu")
UNI2

['CU', 'ptu', 'PU', 'CTU', 'KTU', 'DTU', 'CTU']

In [14]:
#POP METHOD
fur=["TABLE","CHAIR","STOOL","FAN","BED"]
fur.pop()
fur
fur.pop(0)
fur

['CHAIR', 'STOOL', 'FAN']

In [15]:
#remove() : It is also used to remove an element from an existing list like pop() method. But the difference is that it takes element itself as arguement.
FUR = ["TABLE", "CHAIR", "STOOL", "BED"]
FUR.remove("CHAIR")
FUR

['TABLE', 'STOOL', 'BED']

In [16]:
#reverse method
FUR = ["TABLE", "CHAIR", "STOOL", "BED"]
FUR.reverse()
FUR

['BED', 'STOOL', 'CHAIR', 'TABLE']

In [17]:

#sorting a list

# by using sort() method
FUR.sort()
print(FUR)

#by using sorted() function
FUR = ["TABLE", "CHAIR", "STOOL", "BED"]
print(sorted(FUR))

['BED', 'CHAIR', 'STOOL', 'TABLE']
['BED', 'CHAIR', 'STOOL', 'TABLE']

In [18]:
FUR[1]

'CHAIR'

# **LIST SLICING:**
List slicing in Python allows you to extract a portion of a list by specifying a range of indices. The general syntax for list slicing is:

list[start:stop:step]
* start: The index where the slice begins (inclusive). If omitted, it defaults to the beginning of the list.

* stop: The index where the slice ends (exclusive). If omitted, it defaults to the end of the list.

* step: The step size, which determines how many items to skip between indices. If omitted, it defaults to 1.

In [19]:
#example 1
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

# Extracting a slice from index 2 to 5 (exclusive)
slice1 = numbers[2:6]
print(slice1)

[3, 4, 5, 6]

In [20]:
#Example 2: Omitting start and stop
# Omitting start, defaults to the beginning of the list
slice2 = numbers[:4]
print(slice2)

# Omitting stop, defaults to the end of the list
slice3 = numbers[5:]
print(slice3)

[1, 2, 3, 4]
[6, 7, 8, 9]

In [21]:
#Example 3: Using a Negative Index
# Negative index, counts from the end of the list
slice4 = numbers[-5:]
print(slice4)

slice5 = numbers[:-3]
print(slice5)

[5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6]

In [22]:
#Example 4: Step Parameter

# Using step to get every second item
slice6 = numbers[::2]
print(slice6)
# Using step to get every third item
slice7 = numbers[1::3]
print(slice7)

[1, 3, 5, 7, 9]
[2, 5, 8]

In [23]:
#Example 5: Negative Step

# Using negative step to reverse the list
slice8 = numbers[::-1]
print(slice8)

# Using negative step to get every second item in reverse
slice9 = numbers[8:2:-2]
print(slice9)

[9, 8, 7, 6, 5, 4, 3, 2, 1]
[9, 7, 5]

In [24]:
#Example 6: Advanced Slicing
# Extracting a middle portion with a step
slice10 = numbers[2:8:2]
print(slice10)

[3, 5, 7]

In [25]:
#Example 7: Slicing with an Empty Result
# When the start index is greater than or equal to the stop index
slice11 = numbers[5:2]
print(slice11)

# When the step is negative but start is less than stop
slice12 = numbers[2:5:-1]
print(slice12)

[]
[]

# **PRACTICE QUESTIONS**

1. colors = ['red', 'blue', 'green', 'yellow'] Using the colors list defined above, print the: First element, Second element, Last element, Second-to-last element, Second and third elements, Element at index 4.

In [26]:
colors = ['red', 'blue', 'green', 'yellow']
print(colors[0])
print(colors[1])
print(colors[-1])
print(colors[-2])
print(colors[1:3])
try:
    print("Element at index 4:", colors[4])
except IndexError:
    print("Element at index 4: IndexError - Index out of range")

red
blue
yellow
green
['blue', 'green']
Element at index 4: IndexError - Index out of range

2. Below is a list with seven integer values representing the daily water level (in cm) in an imaginary lake. However, there is a mistake in the data. The third dayâ€™s water level should be 693. Correct the mistake and print the changed list.

In [27]:
water_level = [730, 709, 682, 712, 733, 751, 740]
water_level[2] = 693
print(water_level)

[730, 709, 693, 712, 733, 751, 740]

3. Add the data for the eighth day to the list from above. The water level was 772 cm on that day. Print the list contents afterwards.

In [28]:
water_level = [730, 709, 693, 712, 733, 751, 740]
water_level.append(772)
print( water_level)

[730, 709, 693, 712, 733, 751, 740, 772]

4. Still using the same list, add three consecutive days using a single instruction. The water levels on the 9th through 11th days were 772 cm, 770 cm, and 745 cm. Add these values and then print the whole list.

In [29]:
water_level = [730, 709, 693, 712, 733, 751, 740, 772]
water_level.extend([772, 770, 745])
print( water_level)

[730, 709, 693, 712, 733, 751, 740, 772, 772, 770, 745]

5. There are two ways to delete data from a list: by using the index or by using the value. Start with the original water_level list we defined in the second exercise and delete the first element using its index. Then define the list again and delete the first element using its value.

* delete by index

In [30]:
water_level = [730, 709, 693, 712, 733, 751, 740]
del water_level[0]
print(water_level)

[709, 693, 712, 733, 751, 740]

* delete by value

In [31]:
water_level = [730, 709, 693, 712, 733, 751, 740]
water_level.remove(730)
print(water_level)

[709, 693, 712, 733, 751, 740]