<a href="https://colab.research.google.com/github/Ambuj-Tiwari/ml-45-day-diary/blob/main/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DATE : 30.6.2025**

# **TOPIC : SETS**

A Set in Python is used to store a collection of items with the following properties.

* No duplicate elements. If try to insert the same item again, it overwrites previous one.
* An unordered collection. When we access all items, they are accessed without any specific order and we cannot access items using indexes as we do in lists.
* Internally use hashing that makes set efficient for search, insert and delete operations. It gives a major advantage over a list for problems with these operations.
* Mutable, meaning we can add or remove elements after their creation, the individual elements within the set cannot be changed directly.

***SETS CHARACTERISTICS*** sets are unordered sets are immutable

we can change the value in sets

In [1]:
#Show we delcare a set:
a={1,2,3,4,5,6}
print(a)

{1, 2, 3, 4, 5, 6}

In [2]:
#Operation in sets:
a={1,2,3,4,5}
b={10,20,30,40,50}
print(a.union(b) ) #also use (a + b)

{1, 2, 3, 4, 5, 40, 10, 50, 20, 30}

In [3]:
#Intersection : prints the commom values in both the sets
a={1,2,3,4,5}
b={10,20,1,4,50}
print(a.intersection(b))

{1, 4}

In [4]:
# Difference
a={1,2,3,4,5}
b={10,20,1,4,50}
print(a.difference(b))
print(b.difference(a))#(a-b)

{2, 3, 5}
{50, 10, 20}

In [5]:
# Symmetric difference
a={1,2,3,4,5}
b={10,20,1,4,50}
print(a.symmetric_difference(b))

{50, 2, 20, 3, 5, 10}

In [6]:
# Comparsion
a={1,2,3,10}
b={20,23}
print(a>b)
print(a<b)
print(a==b)
a={1,2}
b={1,2,3}
print(a>b)
print(a<b)
print(a==b)
{1,2}<={1,2,3}
# how to create an empty set:
a={}
a=set()
print(a)

False
False
False
False
True
False
set()

In [7]:
# In keyword or not in :
set1 = {1,2,3,4,5}
print(1 in set1)
print( 1 not in set1)

True
False

In [8]:
#operation in sets:
#add()
s={1,2,3,4,5}
s.add(6)
s.add("hi")
print(s)

{1, 2, 3, 4, 5, 6, 'hi'}

In [9]:
# removing an element from a set:
s={1,2,3,4,5}
s.remove(4)# for delete muliple value we can use 3,4,5
print(s)

{1, 2, 3, 5}

In [10]:
# sets do not hold duplicate values
s={1,2,3,4,5,1,2}
print(s)

# Example-2
Names={"aman","aman","deep","jot"}
print(Names)

{1, 2, 3, 4, 5}
{'aman', 'deep', 'jot'}

# **Practice Question:**

1. Create a set with the first five prime numbers.

In [11]:
prime_numbers = {2, 3, 5, 7, 11}
print(prime_numbers)

{2, 3, 5, 7, 11}

2. Add the number 7 to the set.

In [12]:
my_set = {1,2,3,4,5}
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 7}

3. Remove the number 3 from the set.

In [13]:
my_set = {1,2,3,4,5}
my_set.remove(3)
print(my_set)

{1, 2, 4, 5}

4. Check if the set is a subset of {2, 3, 5, 7, 11}.

In [14]:
prime_numbers = {2, 3, 5, 7, 11}
main_set = {2, 3, 5, 7, 11}
is_subset = prime_numbers.issubset(main_set)
print(is_subset)

True

5. Find the union of the set with {7, 11, 13}.

In [15]:
original_set = {2, 3, 5, 7}
union_set = original_set.union({7, 11, 13})
print("Union:", union_set)

Union: {2, 3, 5, 7, 11, 13}

6. Create a frozen set from the original set.

In [16]:
frozen = frozenset(original_set)
print("Frozen set:", frozen)

Frozen set: frozenset({2, 3, 5, 7})

7. Check if the set has any common elements with {1, 4, 9}.

In [17]:
has_common = not original_set.isdisjoint({1, 4, 9})
print("Has common elements with {1, 4, 9}:", has_common)

Has common elements with {1, 4, 9}: False

8. Remove all elements from the set.

In [18]:
original_set.clear()
print("After clearing:", original_set)

After clearing: set()

9. Create a set of your favorite fruits and find the intersection with { 'apple', 'banana', 'orange' }.

In [19]:
my_fruits = {'apple', 'mango', 'grape'}
common_fruits = my_fruits.intersection({'apple', 'banana', 'orange'})
print("Common fruits:", common_fruits)

Common fruits: {'apple'}

10. Use set comprehension to create a set of squares for numbers 1 to 10.

In [20]:
squares = {x**2 for x in range(1, 11)}
print("Squares from 1 to 10:", squares)

Squares from 1 to 10: {64, 1, 4, 36, 100, 9, 16, 49, 81, 25}